# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>ESRF, "EDF Reader", eu.esrf.EDF_Reader
Plugins>ESRF, "EDF StackReader", eu.esrf.EDF_StackReader
Plugins>ESRF, "ESRF Reader", eu.esrf.ESRF_Reader
Plugins>ESRF, "ESRF Writer", eu.esrf.ESRF_Writer
Plugins>ESRF, "EdfRead_", eu.esrf.EdfRead_
